<%= form_with(model: bike, local: true) do |form| %>
  <% if bike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

      <ul>
      <% bike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :make %>
    <%= form.text_field :make, id: :bike_make %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size, id: :bike_size %>
  </div>

  <div class="field">
    <%= form.label :ownername %>
    <%= form.text_field :ownername, id: :bike_ownername %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string, id: :bike_string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
